@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }
  
  body {
    background-color: #f2f2f2;
    color: #404040;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 0;
  }
  
  header {
    margin: 1rem auto;
    text-align: center;
  }
  
  nav {
    height: 50px;
    width: 100%;
  }
  
  nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  nav > ul > li {
    color: #dfdfe2;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 100%;
    box-sizing: border-box;
  }
  
  .navli {
    text-decoration: none;
    color: #404040;
    padding: 7px 44%;
    width: 55vh;
  }
  
  ul a:hover {
    background-color: #404040;
    color: #f2f2f2;
  }
  
  .navli:active {
    color: #cccccc;
  }
  
  .navli a:visited {
    color: #404040;
  }
  
  #image {
    width: max(150px, 30vw);
    max-width: 100%;
    margin: 0 auto;
    height: auto;
  }
  
  img {
    display: block;
  }
  
  #firstdiv {
    display: flex;
    justify-content: center;
    width: 35%;
  }
  
  #img-caption {
    width: 65%;
    text-align: center;
  }
  
  p {
    font-size: 20px;
    margin-top: 10%;
  }
  
  #img-div {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
  }
  
  #tribute-info {
    margin: 12% 0 0;
    font-size: 3rem;
  }
  
  #quotename {
    text-align: right;
    margin: 0 20%;
  }
  